
<%= form_with model: article do |form| %>
  <div>
    <div> <%= form.label 'About what?' %> </div>
    <div> <%= form.text_field :title %> </div>
    <div class='notice'>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  </div>

  <div>
    <div>  <%= form.label 'Shout your mind below (max 400 characters)' %> </div>
    <div> <%= form.text_area :body %>  </div>
    <div class='notice'>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.submit 'Shout!' %>
  </div>
<% end %>

