<!-- CSS only -->
<%= render 'articles/navbar' %>
<section class='grid-container'>
  <div class="shout-body">
      <div id='content'>
        <div class="data">
          <h1><%= @article.title %></h1>
          <p><%= @article.body %></p>
        </div>
        <div class="interact">
          <div>  <%= link_to "Edit", edit_article_path(@article) %> </div>
          <div>  
            <%= link_to 'Delete', article_path(@article), data: {
                  turbo_method: :delete,
                  turbo_confirm: 'Are you sure?'
            } %>
          </div>
        </div>
    </div>
  </div>

  <div class="card-create-shout" id='comment-form'>
    <%= render 'comments/form' %>
  </div>

  <div id='comment-body'>
    <h2>Comments <%= @article.comments.count %></h2>
    <% if @article.comments.count > 0 %>
      <p><%= render @article.comments  %></>
    <% end %>
  </div>
</section>
